extends ../layout.pug

block body
	div.p-5.text-center.bg-image(style="background-image: url('/images/desert.jpg'); height: 400px;")
		div.mask(style="background-color: rgba(0, 0, 0, 0.6)")
			div.d-flex.justify-content-center.align-items-center.h-100
				div.text-white
					h1.mb-3 Un peu perdu ?
					h4.mb-3= `Erreur HTTP ${httpcode}`
					a.btn.btn-outline-light.btn-lg(href="/" role="button")
						i.fa.fa-home
						| Retour à l'accueil
