doctype html
html(lang="fr").position-relative.h-100
	head
		include ../components/meta.pug
		link(rel="stylesheet" type="text/css" href="/lib/mdb-ui-kit/mdb.css")

		//- ChartJs
		script(src="/lib/chart.js/chart.js")
		script(src="/lib/chartjs-plugin-datalabels/chartjs-plugin-datalabels.js")
		script(src="/lib/chartjs-plugin-annotation/chartjs-plugin-annotation.js")
		
	body
	div
		canvas#graph(style="height: 90vh; width: 90vw; display: block;")
	div(style= {position: "fixed", bottom: "10px", right: "10px"})
		p Source: 
			a(href=theme.metadata.doc, target="_blank", style="font-style:italic;")=theme.metadata.producer


	script.
		const ctx = document.getElementById('graph');
		const rows = !{JSON.stringify(rows)};
		let graph_config = !{JSON.stringify(graph_config)};
		const value_keys = graph_config.data.datasets.reduce((a, ds) => {
			ds["data"] = rows;
			if (ds['stack'] in a) {
				a[ds['stack']].push(ds.parsing[ds.parsing._valueKey]);
			} else {
				a[ds['stack']] = [ds.parsing[ds.parsing._valueKey]];
			}
			return a;
		}, {});

		if (graph_config.type != 'line') {
			graph_config["options"]["plugins"]["datalabels"] = {
				display: graph_config._show_percentages,
				backgroundColor: function (context) {
					return context.dataset.backgroundColor;
				},
				borderRadius: 5,
				color: "white",
				anchor: 'center',
				padding: 3,
				clamping: true,
				align: graph_config.type == 'pie' ? 'end' : 'center',
				labels: {
					value: {
						formatter: function(values, ctx) {
							const current_stack = ctx.dataset.stack;
							const value_key = ctx.dataset.parsing[ctx.dataset.parsing["_valueKey"]];

							var sum_values;
							if (current_stack === undefined)
								sum_values = ctx.chart.data.datasets[ctx.datasetIndex].data;
							else
								sum_values = [values];
							var total = 0;
							sum_values.forEach(v => {
								value_keys[current_stack].forEach(key => {
									if (v[key])
										total += parseFloat(v[key]);
								});
							});

							const percentage = parseFloat(values[value_key]) * 100 / total;
							return `${Math.round((percentage + Number.EPSILON) * 100) / 100}%`;
						}
					}
				}
			};
		}

		if (graph_config.type == 'pie') {
			graph_config.options.plugins.datalabels.labels["label"] = {
				backgroundColor: 'white',
				color: '#666',
				anchor: 'end',
				formatter: function(values, ctx) {
					const value_key = ctx.dataset.parsing[ctx.dataset.parsing["_valueKey"]];
					return values[value_key];
				}
			}
		}

		// Hide annotations when hovering
		if (graph_config.options.plugins.annotation) {
			const annotations = graph_config.options.plugins.annotation.annotations;
			Object.keys(annotations).forEach((k) => {
				annotations[k]['enter'] = function({element}) {
					element.label.options.display = false;
					return true;
				};
				annotations[k]['leave'] = function({element}) {
					element.label.options.display = true;
					return true;
				};
			});
		}
		
		// Add padding between the legend and the graph
		const padding_legend_graph = {
			beforeInit(chart) {
				// Get reference to the original fit function
				const originalFit = chart.legend.fit;
				// Override the fit function
				chart.legend.fit = function fit() {
					// Call original function and bind scope in order to use `this` correctly inside it
					originalFit.bind(chart.legend)();
					// Change the height as suggested in another answers
					this.height += 15;
				}
			}
		};

		if (graph_config.plugins)
			graph_config.plugins.push(padding_legend_graph);
		else
			graph_config.plugins = [padding_legend_graph];
		

		if (graph_config.type != 'line')
			Chart.register(ChartDataLabels);
		
		const chart = new Chart(ctx, graph_config);

