extends ../layout.pug

block body
	div.p-5.text-center.bg-image(style="background-image: url('/images/bigdata.jpg'); height: 400px;")
		div.mask(style="background-color: rgba(0, 0, 0, 0.7)")
			div.d-flex.justify-content-center.align-items-center.h-100
				div.text-white
					h1.mb-3 Les données locales, tout simplement
					h4.mb-3 Téléchargez ou convertissez les données officielles de votre territoire
					a.btn.btn-outline-light.btn-lg(href="#themes" role="button")
						i.fa.fa-cloud-download-alt
						| Voir les données

	a#themes
	div.container.mt-5
		h2 Jeux de données
		div.row.row-cols-1.row-cols-md-2.row-cols-lg-3.g-4
			each theme, themeId in themes
				div.col
					div.card.text-white.h-100(style=`background-color: ${theme.style.color}`)
						div.card-body.d-flex.align-content-between.flex-wrap
							h5.card-title.w-100
								i(class=theme.style.icon)
								= theme.name
							p.card-text= theme.description
							a.btn.btn-outline-light.btn-block.stretched-link(href="/"+themeId role="button")
								i.fa.fa-rocket
								| Découvrir
