doctype html
html.position-relative.h-100(lang="fr")
	head
		include ../components/meta.pug

		script(src="/lib/maplibre-gl/maplibre-gl.js")
		link(rel="stylesheet", type="text/css",	href="/lib/maplibre-gl/maplibre-gl.css")

	body(style={ margin: 0, padding: 10 })
	div#map(style={ position: "absolute", top: "0", bottom: "0", width: "100%" })
	div#legend(class='map-overlay', style = {
		'display': 'none',
		'flex-direction': 'column',
		'flex-wrap': 'nowrap',
		'position': 'absolute',
		'bottom': 0,
		'right': 0,
		'background': '#fff',
		'margin-right': '20px',
		'overflow': 'auto',
		'border-radius': '3px',
		'padding': '10px',
		'box-shadow': '0 1px 2px rgba(0, 0, 0, 0.1)',
		'line-height': '18px',
		'margin-bottom': '40px',
	})

	if (map_config.subtype == "cluster")
		include ../scripts/map_cluster.pug
	else if (map_config.subtype == "marker")
		include ../scripts/map_marker.pug
	else if (map_config.subtype == "choropleth")
		include ../scripts/map_choropleth.pug

	script.
		const bounds = !{JSON.stringify(bounds)};
		const map_config = !{JSON.stringify(map_config)};
		const tileserv_url = "#{tileserv_url}";
		const admtype = "#{admtype}" ? "#{admtype}" : undefined;
		const admcode = "#{admcode}" ? "#{admcode}" : undefined;

		const map_options = {
			container: "map",
			zoom: 4.78,
			style: "https://api.maptiler.com/maps/streets/style.json?key=#{api_key}",
			center: [2.4562923908233643, 46.30769920349121],
		};
		if (bounds.length == 2)
			map_options["bounds"] = bounds;

		const map = new maplibregl.Map(map_options);
		map.on("load", function () {
			buildMap(map, tileserv_url, map_config, admtype, admcode);
			map.addControl(new maplibregl.NavigationControl());
		});
