extends ../layout.pug

block body
	div.container.mt-5
		h2(style=`color: ${theme.style.color}`)
			i(class=theme.style.icon)
			= theme.name
		p= theme.description

		hr.my-5

		block form

		hr.my-5

		block dataviz

		hr.my-5

		block details
		p!= theme.info

