extends ./theme.pug

block form
	h3.mb-2
		i.fa.fa-cloud-download-alt
		| Télécharger les données
	include ../components/boundary_search.pug
	.mt-2.text-center
		button#startDownload.btn.btn-primary.mx-1(type="button")
			i.fa.fa-file-download
			| Télécharger
		button#getMetadata.btn.btn-light.mx-1(type="button")
			i.fa.fa-info-circle
			| Métadonnées SCDL

	script.
		const btnDl = document.getElementById("startDownload");
		btnDl.setAttribute("disabled", "");
		btnDl.addEventListener("click", () => {
			if (!selectedBoundary) {
				searchTextField.classList.add("is-invalid");
			} else {
				window.location.href = "/api/themes/#{theme.id}?admtype=" + selectedBoundary[0] + "&admcode=" + selectedBoundary[1];
			}
		});

		const btnMd = document.getElementById("getMetadata");
		btnMd.addEventListener("click", () => {
			if (!selectedBoundary) {
				searchTextField.classList.add("is-invalid");
			} else {
				window.location.href = "/api/themes/#{theme.id}/metadata?admtype=" + selectedBoundary[0] + "&admcode=" + selectedBoundary[1];
			}
		});

block details
	h3 Métadonnées
	ul
		li
			b Source :
			|
			|
			a(href=theme.metadata.doc, target="_blank")= theme.metadata.dataset
		li
			b Producteur :
			|
			|
			= theme.metadata.producer
		li
			b Mise à jour :
			|
			|
			= theme.metadata.updates
			if themeMeta && themeMeta.last_update
				|
				| (dernière récupération le
				|
				= new Date(themeMeta.last_update).toLocaleDateString()
				| )
		li
			b Licence :
			|
			|
			= theme.metadata.licence

block dataviz
	if theme.dataviz
		h3 Dataviz
		each viz_id in Object.keys(theme.dataviz)
			- const iframe_id = `${theme.id}-${viz_id}`;
			- const flow = theme.dataviz[viz_id].type != "map" ? "row wrap" : "column wrap";
			- const iframe_width = theme.dataviz[viz_id].type != "map" ? "auto" : "100%"
			div.d-flex.flex-column.flex-sm-row.align-items-center.justify-content-center.w-100(
				style={
					'flex-flow': flow,
					'border-top': "solid 1px #E4E4E4"
				}
			)
				iframe.d-flex(
					id=iframe_id,
					style={flex: "2 2 auto", 'min-height': "600px", width: iframe_width}
					scrolling="no",
					src=`/api/themes/${theme.id}/dataviz/${viz_id}`
				)
				div(style="flex: 1 1 100px; margin: 1em;")
					if theme.dataviz[viz_id].type != "map"
						p !{ theme.dataviz[viz_id]["description"] }
					div.d-flex.justify-content-between.flex-row.flex-sm-column.flex-lg-row
						button.btn.btn-info.me-1.me-sm-0.mb-sm-1.me-lg-1.mb-lg-0.w-100.w-xs-50(id=`link_${iframe_id}`, onClick=`copyLink("${iframe_id}", "link")`)
							i.fa.fa-copy
							| Copier le lien
						button.btn.btn-outline-secondary.ms-1.ms-sm-0.mt-sm-1.ms-lg-1.mt-lg-0.w-100.w-xs-50(
							id=`iframe_${iframe_id}`,
							style={'border-color': '#797979', color: '#797979'},
							onClick=`copyLink("${iframe_id}", "iframe")`
						)
							i.fa.fa-file-code
							| Intégrer
						
		script.
			function copyLink(iframe_id, type) {
				var url = document.getElementById(iframe_id).src;
				if (type == "iframe")
					url = `<iframe width="100%" height="600px" src="${url}"></iframe>`
				navigator.clipboard.writeText(url);

				const button = document.getElementById(`${type}_${iframe_id}`);
				const orig_button = button.cloneNode(true);
				const width = button.offsetWidth;

				const icon = document.createElement("i");
				icon.classList.add("fa", "fa-check");
				button.innerHTML = "";
				button.appendChild(icon);
				button.appendChild(document.createTextNode('Copié'));
				button.className = orig_button.className;
				button.classList.remove("btn-info", "btn-outline-secondary");
				button.classList.add("btn-success");
				button.style.width = `${width}px`;
				button.style.color = 'white';

				setTimeout(() => {
					button.replaceWith(orig_button);
				}, 2000);
			}

			const theme_id = "#{theme.id}";
			const viz_ids = "#{Object.keys(theme.dataviz)}".split(",");

			var admtype;
			var admcode;
			document.addEventListener("boundary_search.hasData", (event) => {
				if (admtype !== event.detail["admtype"] || admcode !== event.detail["admcode"]) {
					admtype = event.detail["admtype"];
					admcode = event.detail["admcode"];
					const boundary_name = event.detail?.boundary_name;
					var params = "";
					if (admtype) {
						params += `admtype=${admtype}`;
						if (admcode) params += `&admcode=${admcode}`;
						if (boundary_name) params += `&boundary_name=${encodeURIComponent(boundary_name)}`;
					}

					viz_ids.forEach((viz_id) => {
						document.getElementById(`${theme_id}-${viz_id}`).src = `/api/themes/${theme_id}/dataviz/${viz_id}?${params}`;
					});
				}
			});
