extends ./theme.pug

block form
	form#formConvert(autocomplete="off" data-method="get" encType="multipart/form-data")
		h3.mb-2
			i.fa.fa-sync-alt
			| Convertissez vos données

		each param in theme.parameters
			if param.type === "file"
				- formId = "form_input_"+param.id
				label.form-label= `Choisissez le fichier ${param.name} à convertir`
				div.input-group.mb-3(id=formId)
					button.btn.btn-sm.btn-secondary(type="button" data-mdb-ripple-color="secondary")
						i.fa.fa-file
						| Fichier
					button.btn.btn-sm.btn-outline-secondary(type="button" data-mdb-ripple-color="secondary")
						i.fa.fa-link
						| URL
					input.form-control(name=param.id type="url" placeholder="https://www.monsite.web/lien/vers/monfichier")
				script.
					document.getElementById("#{formId}").children[0].addEventListener("click", e => {
						document.getElementById("formConvert").setAttribute("data-method", "post");
						document.getElementById("#{formId}").lastChild.type = "file";
						document.getElementById("#{formId}").lastChild.accept = "#{param.format}";
						document.getElementById("#{formId}").lastChild.placeholder = "";
						document.getElementById("#{formId}").children[0].classList.add("btn-outline-secondary");
						document.getElementById("#{formId}").children[0].classList.remove("btn-secondary");
						document.getElementById("#{formId}").children[1].classList.remove("btn-outline-secondary");
						document.getElementById("#{formId}").children[1].classList.add("btn-secondary");
					});
					document.getElementById("#{formId}").children[1].addEventListener("click", e => {
						document.getElementById("formConvert").setAttribute("data-method", "get");
						document.getElementById("#{formId}").lastChild.type = "url";
						document.getElementById("#{formId}").lastChild.placeholder = "https://www.monsite.web/lien/vers/monfichier";
						document.getElementById("#{formId}").lastChild.removeAttribute("accept");
						document.getElementById("#{formId}").children[0].classList.remove("btn-outline-secondary");
						document.getElementById("#{formId}").children[0].classList.add("btn-secondary");
						document.getElementById("#{formId}").children[1].classList.add("btn-outline-secondary");
						document.getElementById("#{formId}").children[1].classList.remove("btn-secondary");
					});

		p.text-center
			button#startConvert.btn.btn-primary(type="submit") Convertir

	div#progress.d-none
		h3.mb-2
			i.fa.fa-info-circle
			| État

		div#progress-running.d-none
			p Le traitement est en cours et peut prendre quelques minutes. Merci de patienter et de ne pas quitter la page.
			div.progress(style="height: 20px")
				div.progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100") 0%

		div#progress-error.alert.alert-danger.d-none(role="alert" data-mdb-color="danger")
			i.fa.fa-exclamation-triangle
			| Une erreur s'est produite lors du traitement, veuillez réessayer plus tard.
			div

		div#progress-ready.d-none
			p Votre fichier est prêt !
				br
				| Attention, le lien de téléchargement est à usage unique.
			div.text-center
				a.btn.btn-primary.mx-1(role="button") Télécharger
				button.btn.btn-light.mx-1(onclick="history.go(0)") Convertir un autre fichier

		script.
			const progressDiv = document.getElementById("progress");
			function updateProgress(hash, p) {
				for(let child of progressDiv.children) {
					if(child.id === "progress-"+p.status) {
						child.classList.remove("d-none");

						switch(p.status) {
							case "running":
								const progressBarDiv = child.lastChild.firstChild;
								progressBarDiv.style.width = p.progress+"%";
								progressBarDiv.setAttribute("aria-valuenow", p.progress);
								progressBarDiv.innerHTML = p.progress+"%";
								break;

							case "ready":
								const dlBtn = child.lastChild.firstChild;
								dlBtn.href = "/api/tasks/"+hash+"/result";
								break;

							case "error":
								child.lastChild.innerHTML = p.reason;
								break;
						}
					}
					else if(child.id && child.id.startsWith("progress-")) {
						child.classList.add("d-none");
					}
				}

				document.getElementById("formConvert").classList.add("d-none");
				progressDiv.classList.remove("d-none");
			}

	script.
		const form = document.getElementById("formConvert");
		form.addEventListener("submit", e => {
			e.preventDefault();
			updateProgress("", { status: "running", progress: 1 });

			const body = new FormData(form);
			const method = form.getAttribute("data-method");

			let url = "/api/themes/#{theme.id}";
			if(method === "get") {
				body.append("async", "true");
				url += "?"+new URLSearchParams(body).toString();
			}
			else {
				url += "?async=true";
			}

			fetch(url, method === "get" ? {} : { method, body })
			.then(res => {
				updateProgress("", { status: "running", progress: 5 });
				if(res.ok) { return res.text(); }
				else { return res.text().then(txt => { throw new Error(txt); }); }
			})
			.then(hash => {
				// Ask API every 5 seconds for status
				let callRunning = false;
				const progressLoop = setInterval(() => {
					if(callRunning) { return; }
					callRunning = true;
					fetch("/api/tasks/"+hash)
					.then(res => res.json())
					.then(progress => {
						callRunning = false;
						if(progress.status !== "running") {
							clearInterval(progressLoop);
						}
						updateProgress(hash, progress);
					})
					.catch(e => {
						updateProgress(hash, { status: "error", reason: e });
						clearInterval(progressLoop);
					})
					.finally(() => callRunning = false);
				}, 5000);
			})
			.catch(e => {
				updateProgress("", { status: "error", reason: e });
			});
		});


block details
	h3 À propos
	if !theme.info
		p
			| Cet outil vous permet de transformer vos données pour les rendre compatible avec le schéma
			|
			|
			a(href=theme.output.scheme.url target="_blank") "#{theme.output.scheme.name}"
			| .
