//- Original template from https://getbootstrap.com/docs/4.5/examples/blog/
doctype html
html(lang="fr").position-relative.h-100
	head
		include ./components/meta.pug

		//- CSS
		link(rel="stylesheet" type="text/css" href="/lib/mdb-ui-kit/mdb.css")
		link(rel="stylesheet" type="text/css" href="/lib/fontawesome/css/all.min.css")
		style
			include style.css

		//- JS
		script(src="/lib/mdb-ui-kit/mdb.js")

	body.h-100
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			div.container
				a.navbar-brand(href="/")
					img(src="/images/logo.png" height="30" alt="")
					| DataClic

				button.navbar-toggler(type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
					i.fas.fa-bars

				div.collapse.navbar-collapse#navbarSupportedContent
					ul.navbar-nav.me-auto.mb-2.mb-lg-0
						li.nav-item.dropdown
							a.nav-link.dropdown-toggle#navbarDropdown(href="#" role="button" data-mdb-toggle="dropdown" aria-expanded="false")
								i.fa.fa-cloud-download-alt
								| Données
							ul.dropdown-menu(aria-labelledby="navbarDropdown")
								each theme, themeId in themes
									li
										a.dropdown-item(href=`/${themeId}`)
											i(class=theme.style.icon)
											= theme.name
						li.nav-item
							a.nav-link(href="/api/doc" target="_blank")
								i.fa.fa-server
								| API

		div(style="min-height: 60%")
			block body

		footer.bg-light.text-center.text-lg-start.mt-4.w-100.mt-5
			div.container.p-4
				div.row
					div.col-12.col-lg-8.mb-4.mb-lg-0
						h5.text-uppercase
							img(src="/images/logo.png" height="50" alt="")
							| DataClic
						p
							| Réalisé par
							|
							a.text-dark(href="https://pavie.info" target="_blank") Adrien PAVIE
							|
							| pour
							|
							a.text-dark(href="https://www.opendatafrance.net/" target="_blank") OpenDataFrance
							br
							| Disponible sous licence AGPL 3.0
							br
							a(href="https://pavie.info" target="_blank")
								img.mx-2.mt-2(src="/images/adrienpavie.svg" alt="" width="100")
							a(href="https://www.opendatafrance.net/" target="_blank")
								img.mx-2.mt-2(src="/images/opendatafrance.svg" alt="" width="100")

					div.col-12.col-lg-4.mb-4.mb-lg-0
						h5.text-uppercase Liens
						ul.list-unstyled.mb-0
							li
								a.text-dark(href="https://framagit.org/PanierAvide/dataclic" target="_blank")
									i.fa.fa-code
									| Code source
							li
								a.text-dark(href="https://www.opendatafrance.net/contacts/" target="_blank")
									i.fa.fa-at
									| Nous contacter
