/*
 * Custom styles
 */

/* Font awesome icons spacing */
h1 i.fa, h2 i.fa, h3 i.fa,
h1 i.fas, h2 i.fas, h3 i.fas {
	margin-right: 15px;
}

a i.fa, button i.fa, h4 i.fa, h5 i.fa, h6 i.fa,
a i.fas, button i.fas, h4 i.fas, h5 i.fas, h6 i.fas {
	margin-right: 5px;
}

a.dropdown-item i.fa,
a.dropdown-item i.fas {
	width: 20px;
	text-align: center;
}

/* Width for small devices */
@media (max-width: 576px) {
	.w-xs-50 {
		width: 50%;	
	}
}