-
	const placeholders = {"communes": "Nom ou identifiant d'une commune, EPCI, arrondissement, département ou région", "epcis": "Nom ou identifiant d'un EPCI", "arrondissements": "Nom ou identifiant d'un arrondissement", "departements": "Nom ou identifiant d'un département ou d'une région", "regions": "Nom ou identifiant d'une région"};
	const placeholder = theme.adminMapping ? placeholders[theme.adminMapping.to[0]] : placeholders.communes;


div.form-group
	label(for="boundary-search") Territoire
	div.dropdown
		input#boundary-search.form-control.dropdown-toggle(type="text" data-mdb-toggle="dropdown" placeholder="Saisissez le nom ou identifiant du territoire...")
		div.invalid-feedback Merci de sélectionner un territoire
		div.form-helper: small= placeholder
		ul.dropdown-menu#boundary-suggestions(style="cursor: pointer")
			li: a.dropdown-item.disabled Tapez un nom pour lancer la recherche

p#labelDataAvailable.text-center.note

script.
	const BOUNDARY_TYPES = {"commune": "Commune", "epci": "EPCI", "arrondissement": "Arrondissement", "departement": "Département", "region": "Région"};
	let selectedBoundary = null;
	let timerSearchInput = null;
	let hasPrevTextSearch = false;

	const lblDataAvailable = "Des données sont disponibles pour ce territoire";
	const lblDataUnavailable = "Aucune donnée trouvée pour ce territoire";

	// Set-up boundary search
	const searchTextField = document.getElementById("boundary-search");
	const searchSuggestions = document.getElementById("boundary-suggestions");
	searchTextField.value = "";

	const labelDataAvailable = document.getElementById("labelDataAvailable");
	labelDataAvailable.classList.add("d-none");

	searchTextField.addEventListener("input", e => {
		if(timerSearchInput) {
			clearTimeout(timerSearchInput);
		}

		if (!btnDl.hasAttribute("disabled")) {
			btnDl.setAttribute("disabled", "");
		}

		labelDataAvailable.classList.add("d-none");

		const ddi = new mdb.Dropdown(searchTextField);
		ddi.show();
		selectedBoundary = null;
		searchTextField.classList.remove("is-invalid");

		const text = e.target.value;
		if(!text || text.trim().length === 0) {
			searchSuggestions.innerHTML = '<li><a class="dropdown-item disabled">Tapez un nom pour lancer la recherche</a></li>';
			hasPrevTextSearch = false;
		}
		else {
			const waitText = '<li><a class="dropdown-item disabled"><span class="spinner-border text-primary" role="status"></span></a></li>';
			if(!hasPrevTextSearch && searchSuggestions.innerHTML !== waitText) {
				searchSuggestions.innerHTML = waitText;
			}

			timerSearchInput = setTimeout(() => {
				hasPrevTextSearch = true;
				fetch("/api/boundaries?text="+encodeURIComponent(text))
				.then(res => res.json())
				.then(results => {
					searchSuggestions.innerHTML = '';

					if(results.length > 0) {
						results.forEach(r => {
							const type = BOUNDARY_TYPES[r.type];
							const entryLi = document.createElement("li");
							const entry = document.createElement("a");
							entry.classList.add("dropdown-item");
							entry.innerHTML = r.name + ' <small>(' + type + ' - ' + r.code + ')</small>';
							entryLi.appendChild(entry);
							searchSuggestions.appendChild(entryLi);
							entry.addEventListener("click", () => {
								searchTextField.value = r.name + ' (' + type + ' - ' + r.code + ')';
								selectedBoundary = [r.type, r.code];
								fetch("/api/themes/#{theme.id}/checkdata?admtype="+selectedBoundary[0]+"&admcode="+selectedBoundary[1])
								.then(res => res.json())
								.then(isData => {
									labelDataAvailable.classList.add("d-block");
									labelDataAvailable.classList.remove("d-none");

									if(isData) {
										labelDataAvailable.classList.add("note-success");
										labelDataAvailable.classList.remove("note-warning");
										labelDataAvailable.innerHTML = '<i class="far fa-check-circle" style="color: green"></i> '+lblDataAvailable;
										btnDl.removeAttribute("disabled");
										document.dispatchEvent(
											new CustomEvent(
												"boundary_search.hasData",
												{
													detail: {
														admtype: selectedBoundary[0],
														admcode: selectedBoundary[1],
														boundary_name: searchTextField.value,
													}
												}
											)
										);
									}
									else {
										labelDataAvailable.classList.remove("note-success");
										labelDataAvailable.classList.add("note-warning");
										labelDataAvailable.innerHTML = '<i class="far fa-times-circle" style="color: red"></i> '+lblDataUnavailable;
									}
								});
							});
						});
					}
					else {
						searchSuggestions.innerHTML = '<li><a class="dropdown-item disabled">Aucun résultat</a></li>';
					}
				})
				.catch(e => {
					console.log(e);
					searchSuggestions.innerHTML = '<li><a class="dropdown-item disabled">Erreur</a></li>';
				});
			}, 250);
		}
	});
