//- Meta
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
title DataClic
meta(name="description" content="DataClic vous permet de récupérer les données nationales de référence sur votre territoire")
meta(property="og:type" content="website")
meta(property="og:url" content="https://dataclic.fr")
meta(property="og:title" content="DataClic")
meta(property="og:description" content="DataClic vous permet de récupérer les données nationales de référence sur votre territoire")
meta(property="og:image" content="https://dataclic.fr/images/bigdata.jpg")
meta(rel="canonical" href="https://dataclic.fr")

link(rel="icon" href="/images/logo.png")