script.
	function getMinMax(map, territories) {
		var min;
		var max;
		var current_territory = territories[0];

		const current_zoom = map.getZoom();
		// Get currently displayed layer
		territories.forEach(territory => {
			if (territory.minzoom < current_zoom && current_zoom < territory.maxzoom)
				current_territory = territory;
		});

		const features = map.queryRenderedFeatures({
			layers: [current_territory.name]
		});

		if (features.length <= 0)
			return [current_territory, min, max];
		
		min = parseInt(features[0].properties.total);
		max = min;

		features.forEach(f => {
			const total = parseInt(f.properties.total)
			if (total < min) 
				min = total;
			else if (total >= max) 
				max = total;
		});

		return [current_territory, min, max];
	}