include ./marker_layer.pug

script.
	function buildMap(map, tileserv_url, map_config, admtype, admcode) {
		const table = map_config.table;
		const layer_id = `layer_${table}`;

		var filter = [];

		var features_to_load = [];
		if (map_config.popup) {
			features_to_load = map_config.popup
				.map(e => e.column);
		} 
		if (map_config.marker.color && typeof map_config.marker.color === 'object') {
			features_to_load.push(map_config.marker.color.column);
		}

		if (features_to_load.length > 0)
			filter.push(`properties=${encodeURIComponent(features_to_load.join())}`);
		
		if (admtype && admcode)
			filter.push(`filter=${encodeURIComponent(`x_${admtype}_code = '${admcode}'`)}`);

		map.addSource(table, {
			type: "vector",
			tiles: [`${tileserv_url}/public.${table}/{z}/{x}/{y}.pbf?${filter.join('&')}`],
			minzoom: 0,
			maxzoom: 22,
		});
		addMarkerLayer(map, table, map_config);		
	}
