include ./marker_layer.pug
include ./get_min_max.pug

script.
	function setPaint(map, territories, color_gradients) {
		const [current_territory, min, max] = getMinMax(map, territories);
		const current_layer = current_territory.name;

		if (!min && !max) {
			map.setPaintProperty(current_layer, 'circle-color', "rgba(0, 0, 0, 0)");
			return;
		}

		if (min === max) {
			map.setPaintProperty(current_layer, 'circle-color', color_gradients.at(1));
			map.setPaintProperty(current_layer, 'circle-radius', current_territory.max_radius);
			return;
		}

		const percentage_array = [
			'/',
			['*',
				100,
				['-', ['to-number', ['get', 'total']], min],
			],
			max - min
		];

		map.setPaintProperty(current_layer, 'circle-color', [
			'interpolate', ['linear'], 
				percentage_array,
			].concat(color_gradients)
		);
		map.setPaintProperty(current_layer, 'circle-radius', [
			'interpolate', ['linear'], 
				percentage_array,
				0, 20,
				100, current_territory.max_radius,
		]);
	}

	function buildMap(map, tileserv_url, map_config, admtype, admcode) {
		const base_table = map_config.table;
		const map_id = "#{map_id}";
		const color_gradients = map_config.color_gradients ? map_config.color_gradients : [0, "rgba(0, 0, 255, 0.43)", 100, "rgba(255, 0, 0, 0.43)"];

		const region = { name: "region", minzoom: 0, maxzoom: 6, max_radius: 100 };
		const departement = { name: "departement", minzoom: region.maxzoom, maxzoom: 7, max_radius: 80 };
		const epci = { name: "epci", minzoom: departement.maxzoom, maxzoom: 12, max_radius: 60 };
		const commune = { name: "commune", minzoom: epci.maxzoom, maxzoom: 14, max_radius: 45 };
		const indiv = { name: "cluster", minzoom: commune.maxzoom, maxzoom: 24, max_radius: 30};

		var territories = [region, departement, epci, commune, indiv];

		var filter = '';
		if (admtype && admcode) {
			filter = `&filter=${encodeURIComponent(`x_${admtype}_code = '${admcode}'`)}`;
			territories = territories.slice(territories.map(e => e.name).indexOf(admtype));
			territories[0]['minzoom'] = 0;
		}
		console.log(territories);
		territories.forEach(territory => {
			var table = `${base_table}_${map_id}_${territory.name}`;
			map.addSource(table, {
				type: "vector",
				tiles: [`${tileserv_url}/public.${table}/{z}/{x}/{y}.pbf?${filter}`],
			});
			const territory_layer = {
				id: territory.name,
				type: 'circle',
				source: table,
				'source-layer': `public.${table}`,
				minzoom: territory.minzoom,
				maxzoom: territory.maxzoom,
				'circle-sort-key': ['to-number', ['get', 'total']],
				paint: {
					'circle-radius': 0,
					'circle-color': "rgba(0, 0, 0, 0)"
				},
			};
			const label_layer = {
				id: `${territory.name}-label`,
				type: 'symbol',
				source: table,
				'source-layer': `public.${table}`,
				minzoom: territory.minzoom,
				maxzoom: territory.maxzoom,
				'label-sort-key': ['to-number', ['get', 'total']],
				layout: {
					'text-field': ['get', 'total']
				}
			};

			if (territory.name == indiv.name) {
				territory_layer['filter'] = ['>', ['to-number', ['get', 'total']], 1];
				label_layer['filter'] = ['>', ['to-number', ['get', 'total']], 1];
				addMarkerLayer(map, table, map_config, {
					minzoom: territory.minzoom,
					maxzoom: territory.maxzoom,
					filter: ['==', ['to-number', ['get', 'total']], 1]
				});
			}
			map.addLayer(territory_layer);
			map.addLayer(label_layer);
		});

		// Set the colors and radius once after the first idle event
		map.once('idle', () => {
			setPaint(map, territories, color_gradients);
		});

		// Update the colors and radius on each move (zoom counts as move)
		map.on('moveend', () => {
			setPaint(map, territories, color_gradients);
		});
	}