include ./get_min_max.pug

script.
	function setPaint(map, territories, color_gradients) {
		const [current_territory, min, max] = getMinMax(map, territories);
		const current_layer = current_territory.name;

		setLegend(color_gradients, min, max);

		if (!min && !max) {
			map.setPaintProperty(current_layer, 'fill-color', "rgba(0, 0, 0, 0)");
			return;
		}
		if (min === max) {
			map.setPaintProperty(current_layer, 'fill-color', color_gradients.at(1));
			return;
		}

		map.setPaintProperty(current_layer, 'fill-color', [
			'interpolate', ['linear'], 
				[
					'/',
					['*',
						100,
						['-', ['to-number', ['get', 'total']], min],
					],
					max - min
				],
			].concat(color_gradients)
		);
	}

	function setLegend(color_gradients, min, max) {
		const gradient = [];
		if (min === max) {
			gradient.push(`${color_gradients[1]} 0%`);
			gradient.push(`${color_gradients[1]} 100%`);
		} else {
			for (var i = 0; i < color_gradients.length - 1; i +=2)
				gradient.push(`${color_gradients[i + 1]} ${color_gradients[i]}%`);
		}
		document.getElementById('legend_gradient').style.background = `linear-gradient(to right, ${gradient.join()})`;

		document.getElementById('legend_min').innerHTML = min ? min : '';
		document.getElementById('legend_max').innerHTML = max ? max : '';
	}

	function buildMap(map, tileserv_url, map_config, admtype, admcode) {
		const base_table = map_config.table;
		const map_id = "#{map_id}";
		const color_gradients = map_config.color_gradients ? map_config.color_gradients : [0, "rgba(0, 0, 255, 0.43)", 100, "rgba(255, 0, 0, 0.43)"];
		
		const region = { name: "region", minzoom: 0, maxzoom: 6 };
		const departement = { name: "departement", minzoom: region.maxzoom, maxzoom: 7 };
		const epci = { name: "epci", minzoom: departement.maxzoom, maxzoom: 12 };
		const commune = { name: "commune", minzoom: epci.maxzoom, maxzoom: 14 };

		const territories = [region, departement, epci, commune];
		territories.forEach(territory => {
			const table = `${base_table}_${map_id}_${territory.name}`;
			map.addSource(table, {
				type: "vector",
				tiles: [`${tileserv_url}/public.${table}/{z}/{x}/{y}.pbf?properties=total`],
			});
			map.addLayer({
				id: territory.name,
				type: 'fill',
				source: table,
				"source-layer": `public.${table}`,
				minzoom: territory.minzoom,
				maxzoom: territory.maxzoom,
				'fill-sort-key': ['to-number', ['get', 'total']],
				paint: {
					'fill-color': "rgba(0, 0, 0, 0)"
				} 
			});
		});

		// Create legend
		const legend = document.getElementById('legend');
		if (map_config.legend_title) {
			const title = document.createElement("b");
			title.style.marginBottom = '10px';
			title.textContent = map_config.legend_title;
			legend.appendChild(title);
		}

		const gradient = document.createElement('div');
		gradient.id = 'legend_gradient';
		gradient.style.minHeight = '10px';
		legend.appendChild(gradient);

		const row = document.createElement('div');
		row.style.display = 'flex';

		const min = document.createElement('div');
		min.id = 'legend_min';
		row.appendChild(min);

		const space = document.createElement('div');
		space.style.flex = 1;
		row.appendChild(space);

		const max = document.createElement('div');
		max.id = 'legend_max';
		row.appendChild(max);

		legend.appendChild(row);
		legend.style.display = 'flex';
		
		// Set the colors once after the first idle event
		map.once('idle', () => {
			setPaint(map, territories, color_gradients);
		});

		// Update the colors on each move (zoom counts as move)
		map.on('moveend', () => {
			setPaint(map, territories, color_gradients);
		});

	}