script.
	//- https://webcompat.com/issues/64352
	function ensureSVGWidthHeight(svgElem) {
		var viewBoxWidth;
		var viewBoxHeight;
		if(!svgElem.getAttribute('width') || !svgElem.getAttribute('height')) {
			var viewBox = svgElem.getAttribute('viewBox');
			if(viewBox) {
				const match = viewBox.match(/\w+ \w+ (\w+) (\w+)/);
				viewBoxWidth = match[1];
				viewBoxHeight = match[2];
				svgElem.setAttribute('width', viewBoxWidth);
				svgElem.setAttribute('height', viewBoxHeight);
			}
		}
		return [svgElem, viewBoxWidth, viewBoxHeight] ;
	}

	function addMarkerLayer(map, table, map_config, layer_properties = {}) {
		const layer_id = `marker-${table}`;
		// Set default values
		if (!map_config.marker)
			map_config.marker = {};
		map_config.marker = {
			file: map_config.marker.file ? map_config.marker.file : 'map-marker-alt.svg',
			height: map_config.marker.height ? map_config.marker.height : 20,
			color: map_config.marker.color ? map_config.marker.color : '#000000'
		};

		var img;
		var imgRequest = new XMLHttpRequest;
		imgRequest.open('get', `/lib/fontawesome/svgs/solid/${map_config.marker.file}`);
		imgRequest.onload = () => {
			const [svgDoc, width, height] = ensureSVGWidthHeight(imgRequest.responseXML.rootElement);
			const imgHeight = map_config.marker.height;
			var imgWidth = 20;
			if (width && height) {
				imgWidth = imgHeight * width / height;
			}
			img = new Image(imgWidth, imgHeight);
			const svgData = new XMLSerializer().serializeToString(svgDoc);
			img.onload = () => {
				map.addImage("custom-marker", img, {sdf: true});
			};
			img.src = "data:image/svg+xml;base64," + btoa(svgData);
		};
		imgRequest.send();

		var icon_color = map_config.marker.color;
		if (typeof map_config.marker.color === 'object') {
			const legend = document.getElementById('legend');
			icon_color = [
				'match', ['get', map_config.marker.color["column"]]
			];
			Object.keys(map_config.marker.color["case"]).forEach(key => {
				const current_case = map_config.marker.color["case"][key];
				icon_color.push(key, current_case.color);

				const row = document.createElement('div');
				row.style.display = 'flex'
				
				const circle = document.createElement('div');
				circle.style.height = '15px';
				circle.style.width = '15px';
				circle.style.borderRadius = '50%';
				circle.style.backgroundColor = current_case.color;
				circle.style.margin = '2px 4px 0 0';
				row.appendChild(circle);

				const text = document.createElement('div');
				text.textContent = current_case.label;
				row.appendChild(text);

				legend.appendChild(row);
			});
			icon_color.push(map_config.marker.color["default"] ? map_config.marker.color["default"] : "black");
		}
		legend.style.display = 'flex';

		map.addLayer({
			id: layer_id,
			type: 'symbol',
			source: table,
			'source-layer': `public.${table}`,
			paint: {
				'icon-color': icon_color
			},
			layout: {
				'icon-image': 'custom-marker'
			},
			...layer_properties
		});

		// When a click event occurs on a feature in the places layer, open a popup at the
		// location of the feature, with description HTML from its properties.
		map.on("click", layer_id, (e) => {
			// Copy coordinates array.
			const coordinates = e.features[0].geometry.coordinates.slice();
			const props = e.features[0].properties;

			var description = '';
			for (const e of map_config.popup) {
				if (!props[e.column])
					continue;
				var tag = '';
				var value = props[e.column];
				var closing_tag = '';

				if (e.type == "url") {
					tag = `a href="${props[e.column]}", target="_blank"`;
					closing_tag = 'a';
					if (e.string)
						value = e.string;
				} else {
					tag = 'p';
					closing_tag = 'p';
				}
				if (e.style)
					tag = `${tag} style="${e.style}"`;
				
				description += `<${tag}>${e.prefix ? e.prefix : ''}${value}</${closing_tag}>`;
			};

			new maplibregl.Popup().setLngLat(coordinates).setHTML(description).addTo(map);

			// Ensure that if the map is zoomed out such that multiple
			// copies of the feature are visible, the popup appears
			// over the copy being pointed to.
			while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
				coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
			}

			map.flyTo({ center: coordinates });
		});

		// Change the cursor to a pointer when the mouse is over the layer
		map.on("mouseenter", layer_id, () => {
			map.getCanvas().style.cursor = "pointer";
		});

		// Change it back to a pointer when it leaves.
		map.on("mouseleave", layer_id, () => {
			map.getCanvas().style.cursor = "";
		});
	}
